/* CSS HEX */
:root {
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --orange-yellow-crayola: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
    --off-white: #f0efeb;
}

body {
    background-color: var(--charcoal);
    color: var(--off-white);
}

.App {
  text-left: center;
  padding-left: 10%;
}

.GHlogo {
    border-style: solid;
    border-radius: 10%;

    width: 10%;
    height: 10% auto;
    max-width: 120px;
}
.GHLogoLink {
    color: var(--burnt-sienna);
}
.GHLogoLink:hover {
    color: var(--orange-yellow-crayola);
}
.ItemList{
    list-style-type: none;
}
.ListGHmark {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40%;
    width: 4vw;
    max-width: 30px;
    height: auto;
}
.ListDiv {
}
.ListLink {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5em;
    color: var(--burnt-sienna);
}
.ListLink:hover {
    color: var(--orange-yellow-crayola);
}
.Header1{
    font-size: 3em;
}
.Header2{
    font-size: 2em;
}
